html, body ,h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, ol, p, span {
  margin: 0;
  padding: 0;
}
.todo-app {
  background: #fff;
  overflow: hidden;
  margin: 40px auto 0;
  position: relative;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2),
  1px 25px 50px 1px rgba(0, 0, 0, 0.1);
  padding: 30px 10px 20px;
  width: 75%;
  box-sizing: border-box;

  h1 {
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    text-rendering: optimizeLegibility;
  }
}
.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    padding-left: 10px;
    &:last-child {
      //border-bottom: none;
    }
    &.editing {
      border-bottom: none;
      padding: 0;
      .edit {
        display: block;
        width: 506px;
        padding: 13px 17px 12px 17px;
        margin: 0 0 0 43px;
      }
      .view {
        display: none;
      }
    }
    .toggle {
      text-align: center;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      border: none; /* Mobile Safari */
      -webkit-appearance: none;
      appearance: none;
      &:after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
      }

      &:checked:after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
      }
    }
    label {
      white-space: pre;
      word-break: break-all;
      padding: 15px 60px 15px 15px;
      margin-left: 45px;
      display: block;
      line-height: 1.2;
      transition: color 0.4s;
      font-size: 1.2rem;
    }
    &.completed {
      label {
        color: #d9d9d9;
        text-decoration: line-through;
      }
    }
    &:hover {
      .destroy {
        color: #af5b5e;
        display: block;
        &:after {
          content: 'x';
        }
      }
    }
    .destroy {
      display: none;
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      width: 40px;
      height: 40px;
      margin: auto 0;
      font-size: 30px;
      color: #cc9a9a;
      margin-bottom: 11px;
      transition: color 0.2s ease-out;
      -webkit-appearance: none;
      background-color: transparent;
      border: 0;
      outline: none;
    }
  }
}
.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.new-todo {
  padding: 16px 16px 16px 20px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.set-status {
  text-align: center;
  margin-top: 15px;
  a {
    text-decoration: none;
    color: #666;
    display: block;
  }
  li {
    display: inline-block;
    margin: 15px 5px;
    padding: 5px 15px;
    color: #666;
    &.active {
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}

.match-error {
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  color: #ff4081;
  a {
    color: #09c;
  }
}